<ng-container *ngIf="(server_io.game_state | async) as st">
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
    <mat-card *ngIf="!server_io.cookie; else waiting">
      <mat-card-header>
        <h2>Присоединиться</h2>
      </mat-card-header>
      <mat-card-content style="text-align: center;">
        <form (submit)="server_io.join_game(data)" #form=ngForm>
          <mat-form-field style="width: 100%;">
            <mat-label>Имя</mat-label>
            <input matInput [(ngModel)]="data.name" name="name" required>
          </mat-form-field>
          <button 
            mat-raised-button color="primary"
            [disabled]="form.invalid"
            >
            Присоединиться
          </button>
        </form>
      </mat-card-content>
    </mat-card>

    <ng-template #waiting>
      <mat-card>
        <mat-card-header>
          <h2>Ожидание игроков</h2>
        </mat-card-header>
        <mat-card-content style="text-align: center;">
          <mat-spinner></mat-spinner>
        </mat-card-content>
      </mat-card>
    </ng-template>

  </div>
</ng-container>
<br>


