<ng-container *ngIf="server_io.game_state | async as st">
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
    <mat-card>
      <mat-card-header>
        <h2>Админские функции</h2>
      </mat-card-header>
      <mat-card-content
        style="text-align: center;"
        fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px"
        >

        <ng-container>
          <form (submit)="server_io.send_score(data)" #score_form=ngForm
                >
            <mat-form-field style="width: 100%;">
              <mat-label>Счет</mat-label>
              <input type="number" matInput [(ngModel)]="data.score" name="score"
                     [disabled]="!(score_input_required | async)"
                     required>
            </mat-form-field>
            <button 
              mat-raised-button color="primary"
              [disabled]="score_form.invalid || !(score_input_required | async)"
              >
              Отправить
            </button>
          </form>
        </ng-container>

        <div>

        <button 
          mat-raised-button color="warn"
          (click)="show_reset = !show_reset"
          >
          Сброс игры
        </button>

        <button *ngIf="show_reset"
          mat-raised-button color="warn"
          (click)="game_reset()"
          >
          Точно?
        </button>

        </div>
        
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
