<ng-container *ngIf="server_io.game_state | async as st">
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
    <mat-card>
      <mat-card-header>
        <h2>
          Раунд: {{st.stage.round + 1}}/{{st.stage.rounds}}.
          Игрок: {{st.players[st.stage.player].name}}.
          Выстрел {{st.stage.shot + 1}}/{{st.stage.shots}}.
        </h2>
      </mat-card-header>
      <mat-card-content>
        <svg viewBox="0 0 1020 1020" style="width: 400px; height: 400px;">
          <g>
            <rect
              [attr.x]="(reticle_coords | async)?.x" y="0"
              width="4" height="1000" fill="#AAA"
              ></rect>
            <rect
              x="0" [attr.y]="(reticle_coords | async)?.y"
              width="1000" height="4" fill="#AAA"
              ></rect>
          </g>
	  <g *ngIf="awaiting_turn | async">
	    <text style="font-size: 100px;" x="250" y="250">
	      <tspan>ОЖИДАНИЕ</tspan>
	      <tspan x="250" dy="150">ВЫСТРЕЛА</tspan>
	    </text>
	  </g>
        </svg>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
    <button mat-raised-button color="primary" (click)="fire()"
            [disabled]="fire_button_disabled | async">
      Выстрел
    </button>
  </div>
</ng-container>
