<ng-container *ngIf="server_io.game_state | async as st else loading">
  <div style="width: 300px; left; 0px; position: fixed;">
    <mat-list>
      <div mat-subheader>Игроки</div>
      <mat-list-item *ngFor="let p of players_list | async">
        <mat-icon mat-list-icon>{{p ? 'person' : 'person_outline'}}</mat-icon>
        <div mat-line>{{p ? p.name : 'ожидание игрока'}}</div>
        <div mat-line *ngIf="p">Счет: {{p.score}}
	  <span style="color; red" *ngIf="p && p.score_add != undefined"
		[@slideInRight]>+{{p.score_add}}</span>
	</div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
  
  <app-player-select
    *ngIf="st.stage.name === 'player_select'"
    ></app-player-select>

  <app-game-turns
    *ngIf="st.stage.name === 'turn'"
    ></app-game-turns>
  
  <app-game-over
    *ngIf="st.stage.name === 'game_over'"
    ></app-game-over>

  <app-admin-window
    *ngIf="server_io.admin_cookie"
    ></app-admin-window>
</ng-container>


<ng-template #loading>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
    <mat-card>
      <mat-card-header>
        <h2>Ожидание связи с сервером</h2>
      </mat-card-header>
      <mat-card-content style="text-align: center;">
        <mat-spinner></mat-spinner>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>
