<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <mat-card>
    <mat-card-header>
      <h2>Игра окончена</h2>
    </mat-card-header>
    <mat-card-content style="text-align: center;">
      <h1>
	Поздравляем победителя
	<span *ngFor="let p of (winners | async); let isLast=last"
	      style="color: red;">
	  {{p.name}}{{isLast ? '' : ', '}}
	</span>
      </h1>
    </mat-card-content>
  </mat-card>
</div>
<br>


<!--      <h1 [ngPlural]="(winners | async).length">
        <ng-template ngPluralCase="=1">
          Поздравляем победителя
        </ng-template>
        <ng-template ngPluralCase="other">
          Поздравляем победителей
        </ng-template>
        <span *ngFor="let p of (winners | async); let isLast=last"
              style="color: red;">
          {{p.name}}{{isLast ? '' : ', '}}
        </span>
</h1>-->
